<app-breadcrumb [title]="'Shopping List'" [items]="['Apps', 'Shopping List']" [active_item]="'List Item'"></app-breadcrumb>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <div class="invoice">
            <div id="print-section">
              <div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="media">
                      <div class="media-left"><img class="media-object img-60" src="assets/images/shopping-cart1.jpg" alt="" /></div>
                      <div class="media-body m-l-20">
                        <h5 class="media-heading">Type: {{listtype}}</h5>
                        <!-- <p>hello@Cuba.in<br /><span>289-335-6503</span></p> -->
                      </div>
                    </div>
                    <!-- End Info-->
                  </div>
                  <div class="col-sm-6">
                    <div class="text-md-end">
                      <h5>Name: {{listname}}</h5>
                      <!-- <p>
                        Issued: May<span> 27, 2022</span><br />
                        Payment Due: June <span>27, 2022</span>
                      </p> -->
                    </div>
                    <!-- End Title-->
                  </div>
                </div>
              </div>
              <hr />
              <!-- End InvoiceTop-->
              <!-- End Invoice Mid-->
              <div>
                <div class="table-responsive invoice-table" id="table">
                  <table class="table table-bordered">
                    <tbody>
                      <tr>
                        <td class="item">
                          <h5 class="mb-0">Item Description</h5>
                        </td>
                        <td class="Hours">
                          <h5 class="mb-0">Store</h5>
                        </td>
                        <td class="subtotal">
                          <h5 class="mb-0">Price</h5>
                        </td>
                        <td class="subtotal">
                          <h5 class="mb-0">Action</h5>
                        </td>
                      </tr>
                      <ng-container *ngFor="let i of plist">
                        <tr>
                          <td>
                            <label><h6>{{ i.title }}</h6></label>
                            <p class="m-0">{{ i.packageSize }}</p>
                          </td>
                          <td>
                            <p class="itemtext">{{ i.store }}</p>
                          </td>
                          <td>
                            <p class="itemtext">${{ i.price }}</p>
                          </td>
                          <td>
                            <svg xmlns="http://www.w3.org/2000/svg" (click)="DeleteShoppingListItem(i.id)" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle" _ngcontent-nvk-c156="">
                              <circle cx="12" cy="12" r="10"></circle>
                              <line x1="15" y1="9" x2="9" y2="15"></line>
                              <line x1="9" y1="9" x2="15" y2="15"></line>
                            </svg>
                            <ngb-alert class="login-alert" *ngIf="errorMessage !== ''" [type]="'danger'" [dismissible]="false">
                              {{ errorMessage }}
                            </ngb-alert>
                            <ngb-alert class="login-alert" *ngIf="successMessage !== ''" [type]="'success'" [dismissible]="false">
                              {{ successMessage }}
                            </ngb-alert>
                          </td>
                        </tr>
                      </ng-container>
                      <tr>
                        <td></td>
                        <td class="Rate">
                          <h6 class="mb-0 p-2">Total</h6>
                        </td>
                        <td class="payment">
                          <!-- <h6 class="mb-0 p-2">$14.11</h6> -->
                          ${{ totPrice }}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- End Table-->
              </div>
              <!-- End InvoiceBot-->
            </div>
            <div class="col-sm-12 text-center mt-3">
              <button class="btn btn btn-primary me-2" [printStyle]="{ h1: { color: 'red' }, h2: { border: 'solid 1px' } }" printSectionId="print-section" ngxPrint>print</button>
              <!-- <button class="btn btn btn-primary me-2" type="button" onclick="myFunction()">Print</button> -->
              <!-- <button class="btn btn-secondary" type="submit" href="/single-page">Cancel</button> -->
              <a class="btn btn-danger" href="/single-page">Cancel</a>
            </div>
            <!-- End Invoice-->
            <!-- End Invoice Holder-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

