<app-breadcrumb [title]="'Product Details'" [items]="['Home', 'Products']" [active_item]="'Product Details'"></app-breadcrumb>
<div class="container-fluid">
  <div>
    <div class="row product-page-main p-0">
      <div class="col-xxl-4 col-md-6 box-col-12">
        <div class="card">
          <div class="card-body">
            <section>
              <ks-carousel [id]="101" [images]="imagesRect"> </ks-carousel>
            </section>
          </div>
        </div>
      </div>
      <div class="col-xxl-5 box-col-6 order-xxl-0 order-1">
        <div class="card">
          <div class="card-body">
            <div class="product-page-details">
              <h3>{{ product?.title }}</h3>
            </div>
            <div class="product-price">
              ${{ product?.price }}
              <del *ngIf="product?.priceBefore > 0">${{ product?.priceBefore }}</del>
            </div>
            <!-- <ul class="product-color">
              <li class="bg-primary"></li>
              <li class="bg-secondary"></li>
              <li class="bg-success"></li>
              <li class="bg-info"></li>
              <li class="bg-warning"></li>
            </ul> -->
            <hr *ngIf="product?.description" />
            <p *ngIf="product?.description">{{ product?.description }}</p>
            <hr />
            <div>
              <table class="product-page-width">
                <tbody>
                  <tr *ngIf="product?.brand !== ''">
                    <td><b>Brand &nbsp;&nbsp;&nbsp;:</b></td>
                    <td>{{ product?.brand }}</td>
                  </tr>
                  <tr>
                    <td><b>Availability &nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;&nbsp;</b></td>
                    <td class="txt-success">In stock</td>
                  </tr>
                  <tr>
                    <td><b>Seller &nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;&nbsp;</b></td>
                    <td>{{ product?.store }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <hr />
            <div class="m-t-15 btn-showcase">
              <a class="btn btn-primary" type="button" title=""><i class="fa fa-shopping-basket me-1"></i>Compare</a>
              <a class="btn btn-secondary" type="button" (click)="open(content,product?.id)"> <i class="fa fa-heart me-1"></i>Add To List</a>
              <ng-template #content let-modal>
                <div class="modal-header">
                  <h6 class="modal-title" id="modal-basic-title">Add the item into existing Shopping List/Wish List</h6>
                  <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="mb-3">
                      <div class="col">
                        <div ngbDropdown class="d-inline-block">
                          <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                            Select
                          </button>
                          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button *ngFor="let item of shoppingListData; index as i" ngbDropdownItem (click)="UpdateShoppingListItem(item.id,product.id,product.price,product.priceBefore)">{{ item.listname }}</button>
                            <!-- <button ngbDropdownItem>Another Action</button>
                            <button ngbDropdownItem>Something else is here</button> -->
                          </div>
                        </div>
                      </div>
                    </div>
                    <ngb-alert class="login-alert" *ngIf="errorMessage !== ''" [type]="'danger'" [dismissible]="false">
                      {{ errorMessage }}
                    </ngb-alert>
                    <ngb-alert class="login-alert" *ngIf="successMessage !== ''" [type]="'success'" [dismissible]="false">
                      {{ successMessage }}
                    </ngb-alert>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-dark" [routerLink]="'/single-page/newlist'" (click)="modal.close('Save click')">Create new list</button>
                  <button type="button" class="btn btn-outline-dark" [routerLink]="'/single-page/'" (click)="modal.close('Save click')">View all lists</button>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-3 col-md-6 box-col-6">
        <div *ngIf="product.brand !== ''" class="card">
          <div class="card-body">
            <!-- side-bar colleps block stat-->
            <div class="filter-block">
              <h4>Brand</h4>
              <ul>
                <li>{{ product?.brand }}</li>
              </ul>
            </div>
          </div>
        </div>
        <div *ngIf="product.tags.length > 0 " class="card">
          <div class="card-body">
            <!-- side-bar colleps block stat-->
            <div class="filter-block">
              <h4>Tags</h4>
              <ul>
                <li *ngFor="let tag of product.tags">{{ tag }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="card">
    <div class="row product-page-main">
      <div class="col-sm-12">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav nav-tabs border-tab nav-primary mb-0">
          <li [ngbNavItem]="1">
            <a ngbNavLink>Store</a>
            <ng-template ngbNavContent>
              <p class="mb-0 m-t-20">
                Button concelead zip front fastening strech micro modal straight-leg drawstring waste. Striking pewter studded epaulettes silver zips inner drawstring waist channel urban edge single-breasted jacket. Lusciously coloured crystals sparkling faceted cushion cuts slim polished and plated border setting and simple hook fittings. Fleece lined soft fabric inside lightweight materials snuggle-worthy sleepwear luxe loungewear night dress slackwear. Silk knot cufflinks stylish quirky braces polka-dot print metal clips adjustable straps glossy metallic finish pretty.
              </p>
              <p class="mb-0 m-t-20">
                Fashion Ipsum Classic is the ultimate Fashion Lorem Ipsum Generator, covering all your needs when developing a fashion related (or not) digital project with Lorem Ipsum sentences across various styles.
              </p>
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <a ngbNavLink>Video</a>
            <ng-template ngbNavContent>
              <p class="mb-0 m-t-20">
                Leather detail shoulder contrastic colour contour stunning silhouette working peplum. Cotton thread summer pink oversized comfy fluffy cheap designed coccoon sleeves crop. Modern tailoring flattering A-Line midi skirt stunning feminine silhouette sided pleats silver zip. Playful sleepsuit colourful poppers at the neckline and legs easy dressing contrast cuffs to the arms and ankles. Long sleeved jersey onesie decorated crew neckline button fastening along the centre front contrast colour ultimate loungewear.
                of Lorem Ipsum
              </p>
            </ng-template>
          </li>
          <li [ngbNavItem]="3">
            <a ngbNavLink>Details</a>
            <ng-template ngbNavContent>
              <p class="mb-0 m-t-20">
                Leather detail shoulder contrastic colour contour stunning silhouette working peplum. Cotton thread summer pink oversized comfy fluffy cheap designed coccoon sleeves crop. Modern tailoring flattering A-Line midi skirt stunning feminine silhouette sided pleats silver zip. Playful sleepsuit colourful poppers at the neckline and legs easy dressing contrast cuffs to the arms and ankles. Long sleeved jersey onesie decorated crew neckline button fastening along the centre front contrast colour ultimate loungewear.
              </p>
            </ng-template>
          </li>
          <li [ngbNavItem]="4">
            <a ngbNavLink>Brand</a>
            <ng-template ngbNavContent>
              <p class="mb-0 m-t-20">
                Fashion Ipsum Classic is the ultimate Fashion Lorem Ipsum Generator, covering all your needs when developing a fashion related (or not) digital project with Lorem Ipsum sentences across various styles.
              </p>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>
    </div>
  </div> -->
</div>
