<app-breadcrumb [title]="'Price Comparison'" [active_item]="'Price comparison'"></app-breadcrumb>
<!-- Container-fluid starts-->
<div class="container-fluid product-wrapper" [class.sidebaron]="openSidebar">
  <div class="row">
    <!-- Individual column searching (text inputs) Starts-->
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <!-- <span>Search your product from here..</span> -->
          <div class="row">
            <!-- <div class="col-xl-9 col-md-8">
              <form>
                <div class="form-group m-0"><input class="form-control" type="search" placeholder="Search your product from here.." data-original-title="" title="" /></div>
              </form>
            </div> -->
            <div class="col-xl-9 col-md-8">
              <form (ngSubmit)="search(searchQuery)">
                <p class="mt-4 mb-0">Search the product</p>
                <div class="form-group m-0"><input class="form-control" type="search" placeholder="Search.." data-original-title="" title="" [(ngModel)]="searchQuery" (change)="onSearchChange($event)" /></div>
              </form>
            </div>
          </div>
        </div>
        <div class="card-body" [style.visibility]="isDivVisible ? 'visible' : 'hidden'">
          <div class="product-list-custom custom-datatable">
            <p><b>Lowest price :</b> {{ minPrice }}$   <b>Store :</b> {{ minStore }}</p>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr *ngIf="listData.length == 0" class="card no-products">
                    <th>No products found for your search</th>
                  </tr>
                  <tr>
                    <!-- <th scope="col"></th> -->
                    <th scope="col">Item</th>
                    <th scope="col">Price</th>
                    <th scope="col">Store</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let product of listData; index as i">
                    <!-- <td>
                      <img [src]="product.img" class="me-2 img-fluid" />
                    </td> -->
                    <td>
                      <h6>{{ product.title }}</h6>
                      <span>{{ product.packageSize }}</span>
                    </td>
                    <td>${{ product.price }}</td>
                    <td>{{ product.store }}</td>
                    <!-- <td>
                      <div [ngClass]="{ 'font-success': product.stock === 'In Stock', 'font-danger': product.stock === 'out of stock', 'font-primary': product.stock === 'No Signal' }">{{ product.stock }}</div>
                    </td> -->
                    <td>
                      <div class="m-t-10 btn-showcase">
                        <button class="btn btn-primary btn-sm" (click)="open(content,product.id)" type="button" title=""><i class="fa fa-shopping-basket me-1"></i>Add To Shopping List/Wish List</button>
                        <!-- <button class="btn btn-secondary btn-sm" type="button"> <i class="fa fa-heart me-1"></i>Add To WishList</button> -->
                        <ng-template #content let-modal>
                          <div class="modal-header">
                            <h6 class="modal-title" id="modal-basic-title">Add the item into existing Shopping List/Wish List</h6>
                            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
                          </div>
                          <div class="modal-body">
                            <form>
                              <div class="mb-3">
                                <div class="col">
                                  <div ngbDropdown class="d-inline-block">
                                    <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                                      Select
                                    </button>
                                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                      <button *ngFor="let item of shoppingListData; index as i" ngbDropdownItem (click)="UpdateShoppingListItem(item.id,product.id)">{{ item.listname }}</button>
                                      <!-- <button ngbDropdownItem>Another Action</button>
                                      <button ngbDropdownItem>Something else is here</button> -->
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <ngb-alert class="login-alert" *ngIf="errorMessage !== ''" [type]="'danger'" [dismissible]="false">
                                {{ errorMessage }}
                              </ngb-alert>
                              <ngb-alert class="login-alert" *ngIf="successMessage !== ''" [type]="'success'" [dismissible]="false">
                                {{ successMessage }}
                              </ngb-alert>
                            </form>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-outline-dark" [routerLink]="'/single-page/newlist'" (click)="modal.close('Save click')">Create new list</button>
                            <button type="button" class="btn btn-outline-dark" [routerLink]="'/single-page/'" (click)="modal.close('Save click')">View all lists</button>
                          </div>
                        </ng-template>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Individual column searching (text inputs) Ends-->
  </div>
</div>
<!-- Container-fluid Ends-->

