<app-breadcrumb [title]="'Shopping List'" [items]="['Sample page']" [active_item]="'Single Page'"></app-breadcrumb>
<div class="container-fluid">
  <div class="card">
    <div class="row product-page-main">
      <div class="col-sm-12">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav nav-tabs border-tab nav-primary mb-0">
          <li [ngbNavItem]="1">
            <a ngbNavLink>All</a>
            <ng-template ngbNavContent>
              <div class="col-xl-12 col-md-12 box-col-12">
                <div class="file-content">
                  <div class="card">
                    <div class="card-header">
                      <!-- <div class="media">
                        <form class="form-inline" action="#" method="get">
                          <div class="form-group mb-0">
                            <i class="fa fa-search"></i>
                            <input class="form-control-plaintext" type="text" placeholder="Search..." />
                          </div>
                        </form>
                      </div> -->
                      <div class="col-xl-9 col-md-8">
                        <form (ngSubmit)="search(searchQuery)">
                          <div class="form-group m-0"><input class="form-control" type="search" placeholder="Search.." data-original-title="" title="" [(ngModel)]="searchQuery" (change)="onSearchChange($event)" /></div>
                          <!-- <i class="fa fa-search"></i> -->
                        </form>
                      </div>
                    </div>
                    <div class="card-body file-manager">
                      <!-- <h6 class="mt-4">Folders</h6>
                      <ul class="folder">
                        <li class="folder-box me-1">
                          <div class="media">
                            <i class="fa fa-folder f-36 txt-warning"></i>
                            <div class="media-body ms-3">
                              <h6 class="mb-0">Groceries</h6>
                            </div>
                          </div>
                        </li>
                        <li class="folder-box me-1">
                          <div class="media">
                            <i class="fa fa-folder f-36 txt-warning"></i>
                            <div class="media-body ms-3">
                              <h6 class="mb-0">Home Decor</h6>
                            </div>
                          </div>
                        </li>
                        <li class="folder-box me-1">
                          <div class="media">
                            <i class="fa fa-folder f-36 txt-warning"></i>
                            <div class="media-body ms-3">
                              <h6 class="mb-0">Gardening</h6>
                            </div>
                          </div>
                        </li>
                        <li class="folder-box me-1">
                          <div class="media">
                            <i class="fa fa-folder f-36 txt-warning"></i>
                            <div class="media-body ms-3">
                              <h6 class="mb-0">Summer picks</h6>
                            </div>
                          </div>
                        </li>
                      </ul> -->
                      <h6>Recently opened lists</h6>
                      <div *ngIf="listData.length == 0" class="card no-products">
                        <h6>No lists found for your search</h6>
                      </div>
                      <ul class="files">
                        <li class="file-box me-1" *ngFor="let list of listData">
                          <div class="file-top"><i class="fa fa-file-text-o"></i><i class="fa fa-ellipsis-v f-14 ellips"></i></div>
                          <div class="file-bottom">
                            <a [routerLink]="['/single-page/listitem', list.id]" class="ms-2"><h6>{{ list.listname }}</h6></a>
                            <!-- <p class="mb-1">0.90 KB</p> -->
                            <p><b>last open : </b>1 hour ago</p>
                          </div>
                        </li>
                        <!-- <li class="file-box me-1" *ngFor="let wlist of wishListData">
                          <div class="file-top"><i class="fa fa-file-text-o txt-primary"></i><i class="fa fa-ellipsis-v f-14 ellips"></i></div>
                          <div class="file-bottom">
                            <a [routerLink]="'/single-page/listitem'" class="ms-2"><h6>{{ wlist.listname }}</h6></a>
                            <p><b>last open : </b>1 hour ago</p>
                          </div>
                        </li>  -->
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <a ngbNavLink>Shopping lists</a>
            <ng-template ngbNavContent>
              <div class="col-xl-12 col-md-12 box-col-12">
                <div class="file-content">
                  <div class="card">
                    <div class="card-header">
                      <div class="media">
                        <!-- <form class="form-inline" action="#" method="get">
                          <div class="form-group mb-0">
                            <i class="fa fa-search"></i>
                            <input class="form-control-plaintext" type="text" placeholder="Search..." />
                          </div>
                        </form> -->
                        <div class="media-body text-end">
                          <!-- <input type="button" value="Open a Popup Window" onclick="window.open('/single-page/newlist','popUpWindow','height=650,width=850,left=100,top=100,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no, status=yes');"> -->
                          <button class="btn btn-primary me-2" [routerLink]="'/single-page/newlist'"><i data-feather="plus-square"></i>Add New</button>                            
                        </div>
                      </div>
                    </div>
                    <div class="card-body file-manager">
                      <!-- <h6 class="mt-4">Folders</h6>
                      <ul class="folder">
                        <li class="folder-box me-1">
                          <div class="media">
                            <i class="fa fa-folder f-36 txt-warning"></i>
                            <div class="media-body ms-3">
                              <h6 class="mb-0">Groceries</h6>
                            </div>
                          </div>
                        </li>
                        <li class="folder-box me-1">
                          <div class="media">
                            <i class="fa fa-folder f-36 txt-warning"></i>
                            <div class="media-body ms-3">
                              <h6 class="mb-0">Home Decor</h6>
                            </div>
                          </div>
                        </li>
                        <li class="folder-box me-1">
                          <div class="media">
                            <i class="fa fa-folder f-36 txt-warning"></i>
                            <div class="media-body ms-3">
                              <h6 class="mb-0">Gardening</h6>
                            </div>
                          </div>
                        </li>
                      </ul> -->
                      <h6>All shopping lists</h6>
                      <ul class="files">
                        <li class="file-box me-1" *ngFor="let slist of shoppingListData">
                          <div class="file-top"><i class="fa fa-file-text-o txt-info"></i><i class="fa fa-ellipsis-v f-14 ellips"></i></div>
                          <div class="file-bottom">
                            <a [routerLink]="'/single-page/listitem'" class="ms-2"><h6>{{ slist.listname }}</h6></a>
                            <!-- <p class="mb-1">0.90 KB</p> -->
                            <p><b>last open : </b>1 hour ago</p>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </li>
          <li [ngbNavItem]="3">
            <a ngbNavLink>Wish lists</a>
            <ng-template ngbNavContent>
              <div class="col-xl-12 col-md-12 box-col-12">
                <div class="file-content">
                  <div class="card">
                    <div class="card-header">
                      <div class="media">
                        <!-- <form class="form-inline" action="#" method="get">
                          <div class="form-group mb-0">
                            <i class="fa fa-search"></i>
                            <input class="form-control-plaintext" type="text" placeholder="Search..." />
                          </div>
                        </form> -->
                        <div class="media-body text-end">
                          <button class="btn btn-primary me-2" [routerLink]="'/single-page/newlist'"><i data-feather="plus-square"></i>Add New</button>                            
                        </div>
                      </div>
                    </div>
                    <div class="card-body file-manager">
                      <!-- <h6 class="mt-4">Folders</h6>
                      <ul class="folder">
                        <li class="folder-box me-1">
                          <div class="media">
                            <i class="fa fa-folder f-36 txt-warning"></i>
                            <div class="media-body ms-3">
                              <h6 class="mb-0">Summer picks</h6>
                            </div>
                          </div>
                        </li>
                      </ul> -->
                      <h6>All wish lists</h6>
                      <ul class="files">
                        <li class="file-box me-1" *ngFor="let wlist of wishListData">
                          <div class="file-top"><i class="fa fa-file-text-o txt-primary"></i><i class="fa fa-ellipsis-v f-14 ellips"></i></div>
                          <div class="file-bottom">
                            <a [routerLink]="'/single-page/listitem'" class="ms-2"><h6>{{ wlist.listname }}</h6></a>
                            <!-- <p class="mb-1">2.0 MB</p> -->
                            <p><b>last open : </b>1 hour ago</p>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </li>
          <!-- <li [ngbNavItem]="4">
            <a ngbNavLink>Deleted</a>
            <ng-template ngbNavContent>
              <div class="col-xl-12 col-md-12 box-col-12">
                <div class="file-content">
                  <div class="card">
                    <ul class="files">
                      <li class="file-box me-1">
                        <div class="file-top"><i class="fa fa-file-text-o txt-primary"></i><i class="fa fa-ellipsis-v f-14 ellips"></i></div>
                        <div class="file-bottom">
                          <h6>camping items</h6>
                          <p><b>deleted: </b>3 months ago</p>
                        </div>
                      </li>
                      <li class="file-box me-1">
                        <div class="file-top"><i class="fa fa-file-text-o txt-info"></i><i class="fa fa-ellipsis-v f-14 ellips"></i></div>
                        <div class="file-bottom">
                          <h6>grocery list Jan</h6>
                          <p><b>deleted: </b>1 month ago</p>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </ng-template>
          </li> -->
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-xl-3 box-col-6 pe-0">
      <div class="md-sidebar">
        <a class="btn btn-primary md-sidebar-toggle" href="javascript:void(0)">file filter</a>
        <div class="md-sidebar-aside job-left-aside custom-scrollbar">
          <div class="file-sidebar">
            <div class="card">
              <div class="card-body">
                <ul>
                  <li>
                    <div class="btn btn-primary"><i data-feather="home"> </i>Home</div>
                  </li>
                  <li>
                    <div class="btn btn-light"><i data-feather="folder"></i>All</div>
                  </li>
                  <li>
                    <div class="btn btn-light"><i data-feather="list"></i>Shopping lists</div>
                  </li>
                  <li>
                    <div class="btn btn-light"><i data-feather="star"></i>Wish lists</div>
                  </li>
                  <li>
                    <div class="btn btn-light"><i data-feather="alert-circle"></i>Recovery</div>
                  </li>
                  <li>
                    <div class="btn btn-light"><i data-feather="trash-2"></i>Deleted</div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>
